language: ruby

sudo: required
services:
  - postgresql

rvm:
  - "2.4.1"

cache:
  bundler: true

bundler_args: --jobs 3 --retry 3
script:
  - RAILS_ENV=test bundle exec rake db:migrate --trace
  - bundle exec rake db:test:prepare
  - bundle exec rspec spec/
before_script:
  - psql -c 'create database Twitter_monitor_test;' -U postgres

addons:
  apt:
    sources:
      - ubuntu-sdk-team
    packages:
      - libqt5webkit5-dev
      - qtdeclarative5-dev

script: 'xvfb-run -a bundle exec rspec'